.review{
    display: grid;
    grid-template-columns: [start] auto 1fr auto auto [end];

    align-items: center;
    gap:10px;
    font-size: 14px;
    line-height: 24px;
}

.description{
    grid-column: start / end;
}

.date{
    right: 10px;
}

.name{
    font-weight: bold;
}

@media screen and (max-width: 640px) {
    .review{
        grid-template-columns: [start] 30px auto 1fr auto [end];
    }
    .title{
        grid-column: 2 / end;
    }
    .date{
        grid-column: start / 3;
    }
}

@media screen and (max-width: 640px) {
    .rating{
        grid-column: start / end;
    }
    .date{
        grid-column: start / end;
    }
}